  <div class="">
    <h1 class="right-align bottom">Kodiak Island Trails</h1>
    <h5 class="right-align">All trails, all of Kodiak</h5>
  </div>
    <p class="center-align">Kodiak Island Trails is a collaborative portal, add or edit information about your favorite trail, or find a new favorite.</p>
    <button class="waves-effect light-green darken-4 btn-large"><%= link_to 'Find a Trail', trails_path %></button>
