<h1>Kodiak Island Trails</h1>
<p><%= link_to 'New Trail', new_trail_path %></p>

<% @trails.each do |trail| %>
  <h2><%= trail.title %></h2>
  <h5>Mileage: <%= trail.mileage %></h5>
  <%= link_to 'Show Trail', trail_path(trail) %>
<% end %>

