<h1 class="right-align bottom"><%= @trail.title %></h1>
<h3>Mileage: <%= @trail.mileage %></h3>
<p>Description: <%= @trail.description %></p>

<%= link_to 'Back', trails_path, {class: "waves-effect light-green darken-4 btn"} %>
